[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "beautifulsoup4>=4.14.3",
    "playwright>=1.57.0",
    "psycopg2-binary>=2.9.11",
    "requests>=2.32.5",
    "wikipedia>=1.4.0",
]
